@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  background-color: #040d1f;
  color: #fff;

  --dark-color: rgba(1, 3, 5, 0.8);
  --blue-color: rgba(7, 15, 25, 0.75);
  --yellow-color: #f18128;
  --font-family-text: "Montserrat", sans-serif;
  --font-text: "Comfortaa", sans-serif;
  --fill-back: linear-gradient(
    270deg,
    rgba(7, 15, 25, 0.56) 0%,
    rgba(49, 114, 9, 0.56) 100%
  );
  --gray-linear-gradient: linear-gradient(
    96deg,
    rgba(35, 35, 35, 0.8) 10.86%,
    rgba(11, 11, 11, 0.6) 110.86%
  );
  --white-linear-gradient: linear-gradient(
    90deg,
    #def7ff 0,
    #f4fcff 56.64%,
    rgba(255, 255, 255, 0) 100%
  );
  --cards-gradient: linear-gradient(
    180deg,
    rgba(241, 129, 40, 0.35) 0%,
    rgba(0, 0, 0, 0.71) 51.04%,
    rgba(7, 15, 25, 0.8) 100%
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

.special-offer {
  width: 100%;
  height: 80px;
  background-image: linear-gradient(
    90deg,
    #3800af 0%,
    #bf7204 97.52%,
    #c27500 100%,
    #c27500 100%
  );
}

.special-offer p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  width: 166px;
  line-height: 1.3;
}
.container {
  width: 80vw;
  margin: 0 auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
.logo {
  display: flex;
  align-items: flex-end;
}
.logo > img {
  width: 103px;
  height: auto;
  flex-shrink: 0;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 24px;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: inherit;
}

ul li a:hover {
  color: var(--yellow-color);
}

.header {
  background-image: url("./image/kong_skull_island\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  max-height: 640px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue-color);
}

.nav-header {
  background-color: var(--dark-color);
}
header .header-content {
  position: relative;
  z-index: 1;
}

.header-content h1 {
  font-family: var(--font-family-text);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-content p {
  font-family: var(--font-family-text);
  color: #c8c8c8;
  text-align: justify;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  width: 570px;
  margin: 30px 0 50px 0;
}
.buttons-group {
  display: flex;
  gap: 30px;
}

button {
  background-color: var(--yellow-color);
  width: 166px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 4px;
  border: none;
  color: #000;
  font-family: var(--font-family-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}
.buttons-group button:last-child {
  background-color: var(--dark-color);
  color: inherit;
}

/* main design */

.main-title {
  color: var(--yellow-color);
  font-family: var(--font-text);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  position: relative;
  width: fit-content;
  margin-top: 60px;
}

.main-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--yellow-color);
  left: 0;
  top: 47px;
}

/* card element design */
.cards {
  margin: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.card {
  width: 255px;
  height: 368px;
  position: relative;
  border-radius: 6px;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--cards-gradient);
  border-radius: 6px;
}

.card-info {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 18px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.card-info img {
  width: 40.568px;
  height: 46.364px;
}

.play-button {
  background-color: rgba(7, 15, 25, 0.2);
  stroke-width: 1px;
  border: 1px solid#fff;
  color: inherit;
  font-family: var(--font-family-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px; /* 71.429% */
  padding: 7px 28px;
  border-radius: 10px;
  cursor: pointer;
}
.card-info h2 {
  color: inherit;
  text-align: center;
  font-family: var(--font-family-text);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-info p {
  color: inherit;
  font-family: var(--font-family-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px; /* 150% */
  opacity: 0.9;
  height: 171px;
}

/* black window content */

.content-black-window {
  position: relative;
  height: 500px;
  background-image: var(--white-linear-gradient);
  padding: 42px 0 80px 0;
}
.black-window-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 829px;
  height: 500px;
  object-fit: cover;
  object-position: right;
  z-index: -1;
}
.black-window-left p {
  color: #000;
  font-family: var(--font-family-text);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  width: 40%;
  min-width: 470px;
  margin: 46px 0 60px 0;
}

.card-serial {
  width: 350px;
  height: 194px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-serial::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--fill-back);
}

.card-infos {
  z-index: 1;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  padding: 18px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-infos > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.card-infos > div p {
  color: #fff;
  font-family: var(--font-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cards-overlay {
  position: relative;
  margin: 60px 0 30px 0;
  border-radius: 6px;
  overflow: hidden;
}

.cards-overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 1;
  background-image: var(--gray-linear-gradient);
}

.cards-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.cards-overlay .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.card-overlay {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.card-overlay h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card-overlay p {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 150% */
}

/* grid template */

.grid-title {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-bottom: 80px;
}
.grid-title > div {
  width: 100%;
  height: 100%;
  position: relative;
}
.grid-title > div::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: var(--gray-linear-gradient);
  border-radius: 6px;
}

.grid-title > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 3;
  width: 100%;
  height: 100%;
}
.div2 {
  grid-area: 1 / 3 / 2 / 4;
  width: 100%;
  height: 100%;
}
.div3 {
  grid-area: 1 / 4 / 2 / 5;
  width: 100%;
  height: 100%;
}
.div4 {
  grid-area: 2 / 3 / 3 / 4;
  width: 100%;
  height: 100%;
}
.div5 {
  grid-area: 2 / 4 / 3 / 5;
  width: 100%;
  height: 100%;
}
.play-icon {
  width: 40px !important;
  height: 48px !important;
}
.div1-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer {
  background-image: linear-gradient(90deg, #ff8c30 0%, #9f4700 100%);
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.8));
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.footer-content > div {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  
  .footer-content{
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 20px 0;
  };
  nav ul{
    display: none;
  }
  nav{
    justify-content: center;
  }
  .header-content h1, .header-content p{
    text-align: center;
  }
  .header-content p{
    width: 100%;
  }
  .buttons-group{
    justify-content: center;
  }
  .black-window-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .black-window-left p{
    width: 100%;
    text-align: center;
  }
  .card-overlay{
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
  }
  .card-overlay h1{
    font-size: 20px;
  }
  .card-overlay p{
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 40px;
    overflow: hidden;
  }
  .grid-title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px
  };
  
}